.idea
.venv
/notebooks/catboost_info/catboost_training.json
/notebooks/catboost_info/learn/events.out.tfevents
/notebooks/catboost_info/test/events.out.tfevents
/notebooks/catboost_info/learn_error.tsv
/notebooks/catboost_info/time_left.tsv
/notebooks/catboost_info/test_error.tsv
/catboost_info/
/predictions.csv
/model_params.pkl
/dist/spaceshiptitanic-0.1.0.tar.gz
/notebooks/wandb/
/notebooks/.ipynb_checkpoints/catboost_model_params_search-checkpoint.ipynb
/notebooks/prediction.csv
